@charset "UTF-8";
/* CSS Document */

body {
	background-color:#fff;
    color:#616266;
    font-size: 14px;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック",Osaka,arial,helvetica,sans-serif;
    line-height: 1.4;
	margin:0;
	padding:0;
}
h1,h2,p,article,ol{
	margin:0;
	padding:0;
    color: #49494d;
}
#container{
	padding:20px;	
}
h1{
    padding:0px 0px 16px;
    border-bottom:2px solid #e6e6e6;
    box-shadow:0 4px 1px 0 #f7f7f7;
    color:#000;
    font-size:16px;
    line-height:24px;
}
h2{
    margin:25px 0 15px 0;
    padding:15px 0 0 0;
    border-top:10px solid #f5f5f6;
    color:#000;
    font-size:14px;
    font-weight:700;
    line-height:22px;
}
header h2{
    border:none;
    margin:0 0 15px 0;
    padding:25px 0 0 0;
}
p{
	font-size:12px;
	margin-bottom:20px;	
}
a{
    color:#eb5278;
    text-decoration:none;
    outline:none;
}
a:hover{
    text-decoration:underline;	
}
ol{
	margin-bottom:20px;	
}
li{
	font-size:12px;
	list-style-type:none;
	padding:0;
	line-height:1.6;
	margin:0 0 0.5em 0; 
}
li ol{
	margin-left:1em;
}
article{
	display:block;
	width:100%;
}
footer{
	float:right;
	text-align:right;
}


