@charset "UTF-8";
/* CSS Document */

body {
	background-color: #a6d87a;
	font-size: 12px;
	font-weight:800;
	line-height:1.4em;
	color: #fff;
	
	background-image : url("./images/bg_howto_320x222.png");
	background-repeat:no-repeat;
	background-position:0 -32px;

}

article{
	display: block;
	width:100%;
	padding:84px 18px 18px 18px;
}

section{
	display: inline-block;
	width:132px;
	vertical-align:top;
	padding:120px 14px 18px 0;
	background-repeat:no-repeat;
}

section.step_1{
	background-image : url("./images/howto_step1_132x121.png");
}
section.step_2{
	background-image : url("./images/howto_step2_132x121.png");
}
section.step_3{
	background-image : url("./images/howto_step3_132x121.png");
}
section.step_4{
	background-image : url("./images/howto_step4_132x121.png");
}

span.text_yellow{
	color:#ea608b;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
body {
	background-image : url("./images/bg_howto_320x222@2x.png");
	background-size:320px 222px;
}

section.step_1{
	background-image : url("./images/howto_step1_132x121@2x.png");
	background-size:132px 121px;
}
section.step_2{
	background-image : url("./images/howto_step2_132x121@2x.png");
	background-size:132px 121px;
}
section.step_3{
	background-image : url("./images/howto_step3_132x121@2x.png");
	background-size:132px 121px;
}
section.step_4{
	background-image : url("./images/howto_step4_132x121@2x.png");
	background-size:132px 121px;
}
}




