@charset "UTF-8";
/* CSS Document */

body {
	background-color: #3ac535;
	font-size: 12px;
	font-weight:800;
	line-height:1.4em;
	color: #fff;
	
	background-image : url("./images/bg_howto_320x222.png");
	background-repeat:no-repeat;
	background-position:0 -32px;

}

h1{
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	
	display:block;
	width:205px;
	height:260px;
	background-image : url("./images/inprogress_205x260.png");
	background-repeat:no-repeat;
	
	margin:60px auto 0; 
}

article{
	display: block;
	padding:18px;
}

img.screen{
	border: solid 1px #FFFFFF;
	margin-top:10px;
}

span.text_yellow{
	color:#ffff00;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
body {
	background-image : url("./images/bg_howto_320x222@2x.png");
	background-size:320px 222px;
}
h1{
	background-image : url("./images/inprogress_205x260@2x.png");
    background-size:205px 260px;
}
section.step_1{
	background-image : url("./images/howto_step1_132x106@2x.png");
	background-size:132px 106px;
}
section.step_2{
	background-image : url("./images/howto_step2_132x106@2x.png");
	background-size:132px 106px;
}
section.step_3{
	background-image : url("./images/howto_step3_132x106@2x.png");
	background-size:132px 106px;
}
section.step_4{
	background-image : url("./images/howto_step4_132x106@2x.png");
	background-size:132px 106px;
}
}


